<h1 class="title">{{ title | titlecase }}</h1>

<div [ngClass]="{'dark-mode': isDarkMode}">
  <div class="search-container">
    <input type="text" placeholder="Search for President Name" [(ngModel)]="searchTerm" (input)="updateSearchTerm()">
  </div>

  <div class="cartoons container-fluid">
    <div class="cartoon animated" *ngFor="let c of filteredCartoons">
      <h1>{{ c.name | uppercase }}</h1>
      <img [src]="c.photo" alt="{{ c.name }}">
      <p>Period: <strong>{{ c.yearsInOffice }}</strong></p>
      <h2>Vice Presidents:</h2>
      <ul>
        <li *ngFor="let vp of c.vicePresidents">&nbsp;{{ vp | titlecase }}</li>
      </ul>
    </div>
  </div>

  <button class="dark-toggle btn btn-primary" (click)="toggleDarkMode()">
    <i class="fas" [ngClass]="{'fa-moon': isDarkMode, 'fa-sun': !isDarkMode }"></i>
  </button>

  <!-- Pagination -->
  <div class="pagination">
    <button class="btn" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <span>{{ currentPage }} / {{ totalPages }}</span>
    <button class="btn" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>
